<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TSAD.XRM.Framework" publicKeyToken="7b57ccd13bdda04d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.0.0.7" newVersion="0.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TSAD.XRM.Framework.Auto365" publicKeyToken="7b57ccd13bdda04d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.0.0.7" newVersion="0.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TSAD.XRM.TestFramework" publicKeyToken="7b57ccd13bdda04d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.0.0.7" newVersion="0.0.0.7" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>